.form-container {
  border-width: 1px;
  border-color: #797979;
  background: white;
  padding: 2rem;
  width: 23rem;
}

.form-container h1 {
  text-align: center;
  font-weight: 900;
}

.form-container .btn-primary {
  width: 100%;
  border-radius: 0;
  background-color: #630555;
  border-color: #630555;
}

// .form-control {
//   border-radius: 0;
//   border: none;
//   background-color: #e6e6e6;
//   color: #4b4747;

//   &::placeholder {
//     color: #a7a7a7;
//   }

//   &:focus {
//     outline: none !important;
//     border: 1px solid #a7a7a7;
//     box-shadow: none;
//     background-color: #e6e6e6;
//   }
// }

// .form-check-label,
// .forgot-password,
// .sign-up {
//   color: #a7a7a7;
// }

// .text-muted,
// .login-link {
//   color: #a7a7a7;
// }

// .my-link {
//   text-align: center;
// }
