// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .card-columns {
//   @include media-breakpoint-only(lg) {
//     column-count: 5;
//   }
//   @include media-breakpoint-only(xl) {
//     column-count: 6;
//   }
// }

html {
  height: 100vh;
  display: block;
}

body {
  margin: 0;
  background: rgb(25, 0, 101);
  background: linear-gradient(
    45deg,
    rgba(25, 0, 101, 1) 0%,
    rgba(55, 2, 96, 1) 25%,
    rgba(74, 10, 88, 1) 50%,
    rgba(75, 5, 82, 1) 75%,
    rgba(103, 4, 86, 1) 100%
  );
  display: block;
  min-height: 100vh;
}

.home-container {
  border-width: 1px;
  border-color: #797979;
  background: white;
  padding: 2rem;
  width: 46rem;
}

.home-container h1 {
  text-align: center;
}

.home-container .btn-primary {
  width: 100%;
  border-radius: 0;
  background-color: #630555;
  border-color: #630555;
}

.logout-container {
  text-align: right;
}

.logout-button {
  color: #797979;
}

.logout-button:hover {
  color: #630555;
}
